@using Microsoft.AspNetCore.Identity;
@using SocialNetApp.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager;

@model SocialNetApp.ViewModels.Account.MainViewModel;

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/main-page.css" />
    <link rel="stylesheet" href="~/css/site.css" />
}
@if (SignInManager.IsSignedIn(User))
{
    <div class="container">
        <main role="main">
            <h1>Hello, @User.Identity!.Name!</h1>
        </main>
    </div>
}
else
{


    <div class="row">
        <div class="side">
            <div class="center">
                Пользуйтесь нашей самой крутой соцсетью! Регистрируйтесь всего за 2 минуты, делитесь мыслями, находите новых друзей.
            </div>
            <img class="main-img" src="~/img/cat.png" />
        </div>
        <div class="main">
            <partial name="Login" model="Model.LoginView" />
            <partial name="Register" model="Model.RegisterView"/>
        </div>
    </div>

}